<!DOCTYPE html>
<html>
<head>
  <title>DataItems</title>
</head>
<body>
  <h1>Add Data Items</h1>

<table border = '2px'>
<form action="/items/add" method="POST">
  <label>Name : <input type="text" name="name" placeholder="Nama" </label>
  <label>Brand : <input type="text" name="brand" placeholder="Brand"</label>
  <label>Codeitem : <input type="text" name="codeitem" placeholder="Codeitem"</label>
  <input type="submit" value="SUBMIT">
</form>
</table>
</body>
</html>
