<!DOCTYPE html>
<html>
<head>
  <title>DataSuppliers</title>
</head>
<body>
  <h1>Add Data Suppliers</h1>

<table border = '2px'>
<form action="/add_suppliers/add" method="POST">
  <label>Name : <input type="text" name="nama" placeholder="Nama" </label>
  <label>Telp : <input type="text" name="kota" placeholder="Kota"</label>
  <input type="submit" value="SUBMIT">
</form>
</table>
</body>
</html>
