<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <<body>

    <ul>
      <li><a href="/">Home</a></li>
      <!-- <li><a href="/cars">Cars</a></li> -->
      <li><a href="/suppliers">Suppliers</a></li>
      <li><a href="/items">Item</a></li>
      <li><a href="/seacrh">Search</a></li>
    </ul>

  </body>
</html>
